# Ignore environment variables
.env

# Ignore Firebase service account key
serviceAccountKey.json

# Ignore Node.js modules
node_modules/

# Ignore logs
*.log

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore build artifacts
dist/
build/

# Ignore OS-specific files
.DS_Store
Thumbs.db